<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>RED - Teacher performance voting website</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>

<body style="background-color: #254a71;">
    <div class="container">

        <div class="header">
            <div class="title">
                <h2>RAPID</h2>
                <h2>EDUCATION</h2>
                <h2>DEVELOPMENT</h2>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/aboutus">about us</a></li>
                    <li><a href="/logout">logout</a></li>
                </ul>
            </div>
        </div>

        <div class="main">
            <main>
            <h2>PARTICIPATION</h2>
            <p>
              Participation is a must!
            </p>
            <form action="/data-consent" method="POST">
              <button type="submit">consent</button>
            </form>
        </main>
    </div>
</body>
</html>