<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Emotion</title>
  <script src="aws-cognito-sdk.min.js"></script>
  <script src="amazon-cognito-identity.min.js"></script>
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.16.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="emotionStyles.css" />
</head>

<body class="container">

  <div class="header">
    <div class="title">
      <h2>RAPID</h2>
      <h2>EDUCATION</h2>
      <h2>DEVELOPMENT</h2>
    </div>
    <div class="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li>
          <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
          </form>
        </li>
      </ul>
    </div>
  </div>

  <div class="main">
    <canvas id="canvas" style="border: 1px solid black; display: none;"></canvas>
    <div id="username" style="display:none"><%= username %></div>

    <video id="video"></video> </br>
    <button onclick="saveImage()">Snap</button>

    <div id="image" style="border: 1px solid red;"></div>

    <div id="opResult"></div>
  </div>

  <script type="text/javascript">

    //Divs from HTML
    const video = document.getElementById("video");
    const canvas = document.getElementById("canvas");
    const context = canvas.getContext("2d");
    const imageDiv = document.getElementById("image");
    const username = document.getElementById('username').textContent;

    //Navigator generalisations
    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.oGetUserMedia || navigator.msGetUserMedia;
    if (navigator.getUserMedia) {
      navigator.getUserMedia({ video: true }, streamWebCam, throwError);
    }

    //Local variables
    var localStream;
    let image64;
    const connection = new WebSocket("wss://a31vmdscn7.execute-api.us-east-1.amazonaws.com/dev");
    connection.onopen(console.log("Connection opened"))
    connection.onerror(console.log("WebSocket Error"))

    //Stream webcam
    function streamWebCam(stream) {
      localStream = stream;
      video.srcObject = stream;
      video.play();
    }

    //Error
    function throwError(e) {
      console.log(e)
    }

    //Get base64 image
    function saveImage() {
      canvas.width = video.clientWidth;
      canvas.height = video.clientHeight;
      context.drawImage(video, 0, 1)
      image64 = canvas.toDataURL();
      let image = document.createElement("img");
      image.src = image64
      imageDiv.appendChild(image);
      ProcessImage(image64);
    }

    function DetectFaces(imageData) {

      var rekognition = new AWS.Rekognition();
      var params = {
        Image: {
          Bytes: imageData
        },
        Attributes: [
          'ALL',
        ]
      };
      rekognition.detectFaces(params, function (err, data) {
        if (err) console.log(err, err.stack); // an error occurred
        else {
          var table = "<table><tr><th>Emotion</th><th>Confidence</th></tr>";
          let sortedEmotions;
          let emotion;
          let confidence;
          for (var i = 0; i < data.FaceDetails.length; i++) {
            sortedEmotions = data.FaceDetails[i].Emotions.sort(function (a, b) {
              if (a.Confidence > b.Confidence) {
                return -1;
              } else if (b.Confidence > a.Confidence) {
                return +1;
              } else {
                return 0;
              }
            });
            emotion = sortedEmotions[0].Type;
            confidence = sortedEmotions[0].Confidence;
            console.log(data.FaceDetails[0].Emotions);

            table += '<tr><td>' + emotion +
              '</td><td>' + confidence + '</td></tr>';
          }

          table += "</table>";
          document.getElementById("opResult").innerHTML += table;

          let msg = {
            username: username,
            emotion: emotion
          }

          let dataObj = {
            action: "storeEmotion",
            data: msg
          }

          connection.send(JSON.stringify(dataObj));

          console.log('message sent');

        }
      });
    }

    function ProcessImage(image64) {
      updateCred();

      console.log('Process image')
      var image = null;
      var jpg = true;

      try {
        image = atob(image64.split("data:image/jpeg;base64,")[1]);
      } catch (e) {
        jpg = false;
      }
      if (jpg == false) {
        try {
          image = atob(image64.split("data:image/png;base64,")[1]);
        } catch (e) {
          alert("Not an image file Rekognition can process");
          return;
        }
      }

      var length = image.length;
      imageBytes = new ArrayBuffer(length);
      var ua = new Uint8Array(imageBytes);
      for (var i = 0; i < length; i++) {
        ua[i] = image.charCodeAt(i);
      }

      DetectFaces(imageBytes);
    }

    function AnonLog() {

      AWS.config.credentials = new AWS.CognitoIdentityCredentials({
        IdentityPoolId: 'us-east-1:04f30d3b-eb7d-4506-a480-c001213f5a98',
      });

      AWS.config.credentials.get(function () {
        // Credentials will be available when this function is called.
        // var accessKeyId = AWS.config.credentials.accessKeyId;
        // var secretAccessKey = AWS.config.credentials.secretAccessKey;
        // var sessionToken = AWS.config.credentials.sessionToken;
      });

    }

    function updateCred() {
      AWS.config.update({
        region: "us-east-1",
        accessKeyId: "ASIA2BP2RRWICIIC6H4C",
        secretAccessKey: "EEh8IrZwXsiBt9AQPaKUiQk/SHBmLJFkQN3zt76q",
        sessionToken: "FwoGZXIvYXdzEIr//////////wEaDLbSYrKXiQhZpwewLyLEASvl1+25m9Z6D8Kd/b7/MYtwMRvWjmRPj6+1SG/KAlVJhrjBgDgFrcvRYzi682BHDtBZ9jalY5hSc8PkOwpEEdSx0w0IgKPjf8kFXHm8Tx3/P1OW8CrknllkyYio8JGgpgvB5IaWoBVpwDhK9I+DyiNTh3Y5pN+kftG08AV4Al30Yxp23C2a/NeI6jpPd8JazBqS9P+BO+jSItuvZDWVYObPvsdsEbKahJYIQhJiDhktI/2/R+4jdYzwYditAgWUDTKXCDoo142V9QUyLQQ5xfD3h9Imi9OdUNfMpW2/NAiBozhgQ2t0Tz2vTgsV1dI93Q1P444Dil1QTQ=="
      })
    }

    window.onclose = () => {
      localStream.stop()
    }

  </script>

</body>

</html>