<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div>
    <a href="/consent/participation">participation details</a>
    <label for="participation">By click, you consent to participating</label>
    <input type="radio" name="participation" id="participation" onclick="participated()" required>
  </div>

  <div>
    <a href="/consent/data">data collection details</a>
    <label for="data">By click, you consent to data collection</label>
    <input type="radio" name="data" id="data" onclick="dataed()" required>
  </div>

</body>

<script>

  let consent = {
    participation: false,
    data: false
  }

  function participated() {
    consent.participation = true;
    console.log(JSON.stringify(consent))
  }

  function dataed() {
    consent.data = true;
    console.log(JSON.stringify(consent))
  }

</script>
</html> 