<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>RED - Teacher performance voting website</title>
    <link href="userpages.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="title">
                <h2>RAPID</h2>
                <h2>EDUCATION</h2>
                <h2>DEVELOPMENT</h2>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>
        <div class="main user-box">
            <h1>Register</h1>
            <form action="/register" method="POST">
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter your username..." required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;" required>
                </div>
                <button type="submit">Register</button>
            </form>
            </br>
            <a href="/login">or Login</a>
        </div>
    </div>
</body>

</html>