<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RED - Rapid Education Development</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>

    <div id="username" style="display:none"><%= username %></div>

    <div class="grid-container">

      <div class="header">
        <div class="title">
          <h2>RAPID</h2>
          <h2>EDUCATION</h2>
          <h2>DEVELOPMENT</h2>
        </div>
        <div class="nav">
          <ul>
            <form action="/logout?_method=DELETE" method="POST">
              <button type="submit">Log Out</button>
            </form>
          </ul>
        </div>
      </div>

      <div class="tiles-container">
        <h1>Click on what you would like to see more of from the teacher</h1>
        <div id="tiles-wrapper">
          <button id="louder">louder</button>
          <button id="clearer">clearer</button>
          <button id="slower">slower</button>
          <button id="explane">explain</button>
          <button id="faster">faster</button>
          <button id="break">break</button>
          <button id="goback">go back</button>
          <button id="question">question</button>
        </div>
      </div>

      <div class="footer">
        <p>made by chen</p>
      </div>

      <div id="test"></div>

      <div id="plotdiv"></div>
    </div>

    <script>
      const votes = {};
      const wrapper = document.getElementById("tiles-wrapper");
      const username = document.getElementById('username').textContent;

      wrapper.addEventListener("click", (event) => {
        const isButton = event.target.nodeName === "BUTTON";

        if (!isButton) {
          return;
        } else {
          const choice = event.target.id;

          if (typeof votes[choice] == "undefined") {
            votes[choice] = 0;
          }

          votes[choice] += 1;
          console.log(votes);

          event.preventDefault();
        }
      });



      var connection = new WebSocket(
        "wss://a31vmdscn7.execute-api.us-east-1.amazonaws.com/dev"
      );

      connection.onopen = (event) => {
        console.log("connected!");
        storeVotes();
      };

      let msg = {
        username: username,
        votes: votes
      }

      //IMPLEMENTING
      function storeVotes() {

        let dataObj = {
          action: "storeVotes",
          data: msg
        }

        connection.send(JSON.stringify(dataObj));

        console.log('message sent');
      }

      setInterval(() => {
        storeVotes()
      }, 60000);

      connection.onerror = (error) => {
        console.log("ERROR");
        console.log(error);
      };

      connection.onmessage = (response) => {
        console.log("REPSONSE");
        plotData(response.data);
      };

      function plotData(data) {
        const plotDiv = document.getElementById('plotdiv')

        let myData = JSON.parse(data)

        let xData = []
        for (let propety in myData.votes) {
          xData.push(propety)
        }

        let yData = []
        for (let propety in myData.votes) {
          yData.push(myData.votes[propety])
        }

        let data1 = [{
          x: xData,
          y: yData,
          type: 'bar'
        }];

        Plotly.newPlot(plotDiv, data1);
      }
    </script>
  </body>
</html>
