body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-rows: 140px auto;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "hd"
    "main";
}

.red-header {
  grid-area: hd;
  color: white;
  background-color: #254a71;
  margin: 0;
  padding: 25px 0 0 35px;
}

.red-header .title {
  float: left;
}

.red-header .title h2 {
  margin: 0;
  padding: 0;
}

.red-header .nav {
  float: right;
}

.nav ul {
  list-style-type: none;
}

.nav ul li {
  float: left;
  margin: 20px;
  text-transform: uppercase;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav ul li button {
  background-color: white;
  color: #254a71;
  border: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.all-data {
  width: 90%;
  margin: auto;
  grid-area: main;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "mc s1"
    "mc s2"
    "mc s3"
    "mc s4";
}

#main-chart {
  grid-area: mc;
}

#total-votes {
  grid-area: s1;
}

#most-active {
  grid-area: s2;
}

#least-active {
  grid-area: s3;
}

#class-emotion {
  grid-area: s4
}

.small-tile {
  text-align: center;
  text-transform: capitalize;
  background-color: #254a71;
  color: white;
  border: 1px black solid;
  border-radius: 7px;
  height: 125px;
  margin: 30px 0;
}