body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 140px 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "header",
    "myChart s1",
    "myChart s2",
    "myChart s3",
    "myChart s4";
}

.header {
  grid-area: "header header";
  color: white;
  background-color: #254a71;
  margin: 0;
  padding: 25px 0 0 35px;
  width: 100%;
}

.header .title {
  float: left;
}

.header .title h2 {
  margin: 0;
  padding: 0;
}

.header .nav {
  float: right;
}

.nav ul {
  list-style-type: none;
}

.nav ul li {
  float: left;
  margin: 20px;
  text-transform: uppercase;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav ul li button {
  color: white;
  background-color: #254a71;
  border: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#main-chart {
  grid-area: "myChart";
  background-color: pink;
}

#total-votes {
  grid-area: "s1";
  background-color: red;
}

#most-active {
  grid-area: "s2";
  background-color: blueviolet;
}

#least-active {
  grid-area: "s3";
  background-color: aqua;
}

#class-emotion {
  grid-area: "s4";
  background-color: #254a71;
}