body {
    background-color: aqua;
}

/* body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body .container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 140px auto 30%;
    grid-template-areas: "header", "main", "bottom";
}

.header {
    grid-area: "header";
    color: white;
    background-color: #254a71;
    margin: 0;
    padding: 25px 0 0 35px;
}

.header .title {
    float: left;
}

.header .title h2 {
    margin: 0;
    padding: 0;
}

.header .nav {
    float: right;
}

.nav ul {
    list-style-type: none;
}

.nav ul li {
    float: left;
    margin: 20px;
    text-transform: uppercase;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.voting-tiles {
    grid-area: "main";
    align-content: center;
}

.voting-tiles h1 {
    margin-left: 20px;
}

.voting-tiles #button-wrapper button {
    height: 300px;
    width: 200px;
    margin-left: 25px;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bolder;
    border-radius: 5px;
    border: solid #f4f4f4 1px;
}

#louder {
    background-color: #d155ff;
}
#louder:hover {
    background-color: #ab47d0;
}

#clearer {
    background-color: #ffa544;
}
#clearer:hover {
    background-color: #d58a3a;
}

#slower {
    background-color: #ff4a9b;
}
#slower:hover {
    background-color: #d63d82;
}

#explane {
    background-color: #ff574a;
}
#explane:hover {
    background-color: #d5483d;
}

#faster {
    background-color: #ffd74a;
}
#faster:hover {
    background-color: #dab840;
}

#break {
    background-color: #864aff;
}
#break:hover {
    background-color: #723fd7;
}

#goback {
    background-color: #68e8ff;
}
#goback:hover {
    background-color: #3dbdd4;
}

#question {
    background-color: #93ff44;
}
#question:hover {
    background-color: #7bd33a;
}

.bottom {
    grid-area: "bottom";
}

.index-div {
    width: 80%;
    margin: auto;
}

main {
    grid-area: main;
    margin: 0px 60px;
}

main h2 {
    background-color: white;    
    margin: 40px 10px 10px 10px;
    padding: 10px;
}

main p {
    background-color: white;      
    margin: 10px;
    padding: 15px;
}

/* main form button {
    float: right;
} */

.user-box {
    text-align: center;
}

.user-box div {
    margin: 10px 0;
}

.user-box div label {
    
} */
